.Main {
    font-family: roboto sans-serif;
    text-align: center;
    border: 2px solid grey;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
    height: 50vh;
  }
  