

.Logo {
  background-image: url(./logo.png);
}
.pie{
  background-image: url(./pie.png);
}
.hr{
  
  height: 2px; 
  width: 100%;
   margin:0 auto;
   line-height:1px;
   background-color: #000000; 
   border:1 none;

}
